In [1]:
name = 'Taghi'

In [2]:
name[0]

'T'

In [3]:
name[0] = 'N'

TypeError: 'str' object does not support item assignment

In [4]:
'A'+'B'

'AB'

In [5]:
last_letters = name[1:]

In [6]:
last_letters

'aghi'

In [7]:
'N'+last_letters

'Naghi'

In [8]:
last_letters + 'N'

'aghiN'

In [9]:
name = 'N'+last_letters

In [10]:
name

'Naghi'

In [11]:
x = 'Salam'

In [12]:
x

'Salam'

In [13]:
x = x + ' Chetori'

In [14]:
x

'Salam Chetori'

In [15]:
adad = 1
# adad = adad + 1
adad += 1
adad

2

In [16]:
x +=' Chetori'

In [17]:
x

'Salam Chetori Chetori'

In [18]:
letter = 'z'

In [19]:
letter *10

'zzzzzzzzzz'

In [20]:
letter *10.0

TypeError: can't multiply sequence by non-int of type 'float'

In [1]:
2+3

5

In [2]:
'2' + '3'

'23'

In [3]:
x = 'salam chetori'

In [4]:
x

'salam chetori'

In [5]:
type(x)

str

In [6]:
type(x)

str

In [7]:
capitalize(x)

NameError: name 'capitalize' is not defined

In [8]:
x.capitalize()

'Salam chetori'

In [9]:
x

'salam chetori'

In [10]:
x.upper()

'SALAM CHETORI'

In [11]:
x.lower()

'salam chetori'

In [12]:
x.count()

TypeError: count() takes at least 1 argument (0 given)

In [13]:
x.count('a')

2

In [14]:
x.split()

['salam', 'chetori']

In [15]:
x

'salam chetori'

In [16]:
x.split('a')

['s', 'l', 'm chetori']

In [17]:
x

'salam chetori'