In [1]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [2]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for j in my_list:
    #print(j)
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
for num in my_list:
    # check even
    if num %2==0:
        print(num)
    else:
        print(f'odd number :{num}')

odd number :1
2
odd number :3
4
odd number :5
6
odd number :7
8
odd number :9
10

In [7]:
list_sum = 0
for item in my_list:
#     list_sum = list_sum + item
    list_sum += item
print(list_sum)

55

In [8]:
my_string = 'Hello World'
#for letter in 'Hello World': 
for letter in my_string: 
    print(letter)
    print(my_string)

H
Hello World
e
Hello World
l
Hello World
l
Hello World
o
Hello World

Hello World
W
Hello World
o
Hello World
r
Hello World
l
Hello World
d
Hello World

In [9]:
my_string = 'Hello World'
#for letter in 'Hello World': 
for _ in my_string: 
    print(my_string)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [11]:
tup = (1,2,3)
for t in tup:
    print(t)

1
2
3

In [12]:
my_list = [(1,2),(2,3),(3,4),(4,5)]

In [13]:
len(my_list)

4

In [14]:
for item in my_list:
    print(item)

(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [15]:
for (a,b) in my_list:
    print(a)
    print(b)

1
2
2
3
3
4
4
5

In [16]:
my_list = [(1,2,3),(2,3,4),(3,4,5),(4,5,6)]

In [17]:
for a ,b, c in my_list:
    print(a)

1
2
3
4

In [18]:
d = {'k1':1,'k2':2,'k3':3}

In [19]:
for item in d:
    print(item)

k1
k2
k3

In [20]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [21]:
for key , value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [22]:
for k , v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [23]:
for k in d.keys():
    print(k)

k1
k2
k3

In [24]:
for v in d.values():
    print(v)

1
2
3

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(10):
    if i >5:
        break
    print(i)

0
1
2
3
4
5

In [10]:
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

for search
    if key
        break
else:

In [20]:
mylist=[]
for i in range(2,1000):
    for j in range(2,(i//2)+1):
        if (i%j==0):
        #print('break')
            break
    else:
        mylist.append(i)
print(mylist)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [22]:
len(mylist)

168

In [21]:
primes = []
for i in range(1000):
    primes.append(True)
primes[0] = False
primes[1] = False
for i in range(2,1000):
    for j in range(2*i, 1000,i):
        primes[j] = False
for i in range(1000):
    if primes[i] == True:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [1]:
Flag = True
while Flag:
    # do
    if condition:
        Flag=False

NameError: name 'condition' is not defined

In [2]:
primes = [2,3]
c = 5
while len(primes)<=100:
    for i in range(2,(c//2)+1):
        if c % i ==0:
            break
    else:
        primes.append(c)
    c +=2

In [3]:
primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547]

In [4]:
len(primes)

101

In [5]:
primes = [2,3]
c = 5
while True:
    for i in range(2,(c//2)+1):
        if c % i ==0:
            break
    else:
        primes.append(c)
    if len(primes)==100:
        break
    c +=2

In [6]:
len(primes)

100

In [7]:
primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541]