# list

In [1]:
mystring = 'hello'

In [2]:
mylist = []

In [3]:
mylist

[]

In [4]:
for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [2]:
mylist2=[letter for letter in mystring]

In [7]:
mylist2

['h', 'e', 'l', 'l', 'o']

In [3]:
mylist2=[letter*2 for letter in mystring]

In [9]:
mylist2

['hh', 'ee', 'll', 'll', 'oo']

In [4]:
mylist = [x for x in 'word']

In [5]:
mylist

['w', 'o', 'r', 'd']

In [6]:
mylist = [num for num in range(0,11)]

In [14]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
mylist = [x for x in range(11) if x%2==0]

In [16]:
mylist

[0, 2, 4, 6, 8, 10]

In [17]:
mylist = [x**2 for x in range(11) if x%2==0]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

In [19]:
c =[0,10,20,34.5]

In [20]:
f = [((9/5)*temp+32) for temp in c]

In [21]:
f

[32.0, 50.0, 68.0, 94.1]

In [22]:
result = [ x if x%2==0 else'ODD'for x in range(10)]

In [23]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [24]:
result = [ x if  not x%5==0 else'Hop'for x in range(100)]

In [25]:
result

['Hop',
 1,
 2,
 3,
 4,
 'Hop',
 6,
 7,
 8,
 9,
 'Hop',
 11,
 12,
 13,
 14,
 'Hop',
 16,
 17,
 18,
 19,
 'Hop',
 21,
 22,
 23,
 24,
 'Hop',
 26,
 27,
 28,
 29,
 'Hop',
 31,
 32,
 33,
 34,
 'Hop',
 36,
 37,
 38,
 39,
 'Hop',
 41,
 42,
 43,
 44,
 'Hop',
 46,
 47,
 48,
 49,
 'Hop',
 51,
 52,
 53,
 54,
 'Hop',
 56,
 57,
 58,
 59,
 'Hop',
 61,
 62,
 63,
 64,
 'Hop',
 66,
 67,
 68,
 69,
 'Hop',
 71,
 72,
 73,
 74,
 'Hop',
 76,
 77,
 78,
 79,
 'Hop',
 81,
 82,
 83,
 84,
 'Hop',
 86,
 87,
 88,
 89,
 'Hop',
 91,
 92,
 93,
 94,
 'Hop',
 96,
 97,
 98,
 99]

In [26]:
mylist = []

In [27]:
for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [28]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [29]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [30]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]