# تمرین

In [5]:
st = 'Print only the words that start with S in this sentence'

کلماتی که در آن حرف

   وجود دارد را پرینت کن (s)

** split , if , for

In [7]:
list1=st.split(" ")
for i in list1:
    if "s" in i:
        print(i)
    else:
        continue

words
start
this
sentence

In [10]:
list1=[i for i in st.split() if "s" in i.lower() ]
list1

['words', 'start', 'S', 'this', 'sentence']

تمام اعداد زوج بین 0 تا 10 را نمایش بده

range()

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
[i for i in range(11) if i%2==0]

[0, 2, 4, 6, 8, 10]

In [14]:
for i in range(11):
    if i %2==0:
        print(i)

0
2
4
6
8
10

با استفاده از لیست دنباله ای بین 1 تا 50 ایجاد کنید که به 3 بخش پذیر باشند

In [17]:
my_list=[]
for i in range(2,50):
    if (i%3==0):
        my_list.append(i) 
my_list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [18]:
my_list=[i for i in range(2,50) if i%3==0]
my_list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

کلماتی که در متن فوق تعداد کاراکتر زوج دارند را نمایش دهید.

In [21]:
list2=[i for i in st.split() if(len(i)%2==0)]
list2

['only', 'that', 'with', 'in', 'this', 'sentence']

In [22]:
list3=[]
for i in st.split():
    if(len(i)%2==0):
        list3.append(i)
list3

['only', 'that', 'with', 'in', 'this', 'sentence']

برنامه ای بنویسید که اعداد بین 0 تا 100 را در یک لیست تو در تو یک بار 5 تا 5 تا و یک بار ه تا سه تا پرینت کند

In [23]:
f_list=[]
for i in range(1,100,5):
    s_list=[]
    for j in range(i,i+5):
        s_list.append(j)
    f_list.append(s_list)
f_list

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45],
 [46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65],
 [66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75],
 [76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85],
 [86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95],
 [96, 97, 98, 99, 100]]

In [30]:
mylist=[[x+i for i in range(5)] for x in range(1,100,5)]
mylist

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45],
 [46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65],
 [66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75],
 [76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85],
 [86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95],
 [96, 97, 98, 99, 100]]

In [29]:
f_list=[]
for i in range(0,100,1):
    if(i%5 == 0):
        s_list=[]
        for j in range(i+1,i+6):
            s_list.append(j)
        f_list.append(s_list)
f_list

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45],
 [46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65],
 [66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75],
 [76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85],
 [86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95],
 [96, 97, 98, 99, 100]]

In [38]:
numList = list(range(101))
newList=[]
n = int(input())
for i in range(0,100,n):
    newList.append(numList[i+1:i+n+1])
newList

5

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45],
 [46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65],
 [66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75],
 [76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85],
 [86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95],
 [96, 97, 98, 99, 100]]

In [37]:
[numList[i+1:i+n+1] for i in range(0,100,n)]

[[1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15],
 [16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25],
 [26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35],
 [36, 37, 38, 39, 40],
 [41, 42, 43, 44, 45],
 [46, 47, 48, 49, 50],
 [51, 52, 53, 54, 55],
 [56, 57, 58, 59, 60],
 [61, 62, 63, 64, 65],
 [66, 67, 68, 69, 70],
 [71, 72, 73, 74, 75],
 [76, 77, 78, 79, 80],
 [81, 82, 83, 84, 85],
 [86, 87, 88, 89, 90],
 [91, 92, 93, 94, 95],
 [96, 97, 98, 99, 100]]

با توجه به متن تست لیستی را ایجاد کنید که شامل حروف اول هر کلمه باشد