In [1]:
t = (1,2,3)

In [2]:
t[0]

1

In [3]:
from collections import namedtuple

In [4]:
Dog = namedtuple('Dog','age breed name')

In [5]:
print(Dog)

<class '__main__.Dog'>

In [6]:
sam = Dog(age=2,breed= 'Lab',name='Sammy')

In [7]:
print(sam)

Dog(age=2, breed='Lab', name='Sammy')

In [8]:
sam.breed

'Lab'

In [9]:
sam.age

2

In [10]:
sam.name

'Sammy'

In [12]:
sam[0]

2

In [13]:
sam[1]

'Lab'

In [14]:
Cat = namedtuple('Cat','fur claws name')

In [15]:
c = Cat(fur='Fuzzy',claws=False,name='Kitty')

In [16]:
c.name

'Kitty'

In [17]:
Ct = namedtuple('Cat','fur claws name')

In [18]:
print(Ct)

<class '__main__.Cat'>

In [19]:
c = Ct(fur='Fuzzy',claws=False,name='Kitty')

In [20]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')