In [1]:
import datetime

In [2]:
t = datetime.time(5,25,2)

In [3]:
print(t)

05:25:02

In [4]:
datetime.time

datetime.time

In [5]:
datetime.time()

datetime.time(0, 0)

In [6]:
print(datetime.time.min)

00:00:00

In [7]:
print(datetime.time.max)

23:59:59.999999

In [8]:
print(datetime.time.resolution)

0:00:00.000001

In [9]:
today = datetime.date.today()

In [10]:
print(today)

2023-03-05

In [11]:
today.timetuple()

time.struct_time(tm_year=2023, tm_mon=3, tm_mday=5, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=64, tm_isdst=-1)

In [12]:
today.day

5

In [13]:
today.month

3

In [14]:
print(datetime.date.resolution)

1 day, 0:00:00

In [15]:
d1 = datetime.date(2015,3,11)

In [16]:
d1

datetime.date(2015, 3, 11)

In [17]:
d2 = d1.replace(year=1990)

In [18]:
d2

datetime.date(1990, 3, 11)

In [19]:
d1

datetime.date(2015, 3, 11)

In [20]:
d1-d2

datetime.timedelta(days=9131)

In [21]:
t = datetime.time(4,20,1)

In [22]:
print(t)

04:20:01

In [23]:
print('hour: ',t.hour)

hour:  4

In [24]:
print('min: ',t.minute)

min:  20

In [25]:
print('sec : ',t.second)

sec :  1

In [26]:
print('microsecond :',t.microsecond)

microsecond : 0

In [27]:
print('tzinof: ',t.tzinfo)

tzinof:  None